*{
    box-sizing: border-box;
}

header {
    background-color: #1F2937;
}
.top-box {
    display: flex;
    justify-content: space-around;
}

.bottom-box {
    display: flex;
    align-items: center;
    justify-content: space-around ;
    padding: 50px;
    padding-bottom: 100px;

}

.logo {
    width: 100px;

}
ul {
    display: flex;
    list-style-type: none;

}

.heroimg {
    width: 450px;
}

.leftbox {
    width: 30%;
}

ul li a {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    padding: 0 10px;    


}

.leftbox h1 {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 48px;
    text-wrap:wrap;
    margin-bottom: -15px;
}

.leftbox p,.div1 p {
    font-size: 18px;
    color: #E5E7EB;
}


.signup {
    border-radius: 5px;
    background-color: #3882F6;
    padding: 5px 20px;
    color: #F9FAF8;
    border: none;
    font-weight: 700;
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items:center ;
    padding-bottom: 100px ;
    
}

#infotag {
    font-size: 36px;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
}
.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

}

.boxes img {
    width: 150px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.boxes figcaption {
    text-align: center;
}

.quote {
    display: flex;
    background-color: #E5E7EB ;
    height: 450px;
    padding-top: 100px;
    align-items: center;
    justify-content: center;
}

blockquote  {
  width: 60%;
  justify-content: center;
}

blockquote p {
    color: #1F2937;
   }
blockquote p,footer {
   font-size: 36px;
  }

  blockquote footer {
    font-size: 36px;
    margin-bottom: 50px;
    font-weight: bolder;
    text-align: end;
   }
.whitebox {
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: white;
    padding: 100px 100px ;
}
   .bluebox {
    display: flex;
    background-color: #3882F6;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border-radius: 10px;
    width:80%;
   }

   .div1 p{
    width: 60%;
   }
   .div1 h1{
   color: #F9FAF8;
   }
   
   .signup2 {
    border-radius: 5px;
    background-color: #3882F6;
    padding: 5px 30px;
    color: #F9FAF8;
    font-weight: 700;
    border: 2px solid white;
}

.footer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    height: 75px;
    color: #E5E7EB;
    font-size: larger
}

body {
    margin: 0
}


